<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="main p-10">
    <select name="priority">
        <option  value="">-- Select Priority --</option>
        <optgroup label="Priority Levels">
            <option class=" bg-blue-500 mt-2" value="low">Low</option>
            <option class=" bg-blue-700 mt-2" value="medium">Medium</option>
            <option class=" bg-blue-900 mt-2" value="high">High</option>
        </optgroup>
    </select>
    
  </div>
</body>
</html>